{% extends 'base.html.twig' %}

{% block title %}Sms{% endblock %}

{% block body %}
    <h3 class="mt-5 text-center">
        You need to wait 15 seconds between each message.
        <br/>
        Please wait and refresh the page
    </h3>

{% endblock %}
